* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e7d9c5;
    font-family: 'Poppins', sans-serif;
}


.contenedor {
    background: #fff;
    width: 1200px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 20px;
}

.superior img {
    width: 100%;
}

.mensaje-recreo {
    text-align: center;
    color: #6b4b25;
    font-style: italic;
    padding: 8px 0;
}

.opciones {
    overflow: hidden;
    background: #6b4b25;
}

.opciones li {
    float: left;
    list-style: none;
}

.opciones li a {
    padding: 12px 18px;
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.opciones li a:hover {
    background: #4d371b;
}

.titulo {
    text-align: center;
    color: #6b4b25;
    margin-top: 25px;
}

.frase {
    text-align: center;
    padding: 10px;
    font-style: italic;
    color: #4d371b;
}

.cajas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card-oval {
    background: #fff;
    width: 270px;
    min-height: 350px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.card-oval:hover {
    transform: translateY(-5px);
}

.card-oval-img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin: auto;
}

.card-oval-titulo {
    color: #6b4b25;
    margin-top: 10px;
}

.card-oval-precio {
    font-weight: bold;
    color: #4d371b;
}

.btn-red,
.btn-instagram {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn-red {
    background: #6b4b25;
    color: #fff;
}

.btn-red:hover {
    background: #4d371b;
    transform: scale(1.05);
}

.btn-instagram {
    background: #b1487d;
    color: white;
}

.btn-instagram:hover {
    background: #8c325f;
    transform: scale(1.05);
}

.btn-wsp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 999;
    overflow: hidden;
    transition: 0.3s ease;
}

.btn-wsp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-ig {
    position: fixed;
    bottom: 60px;
    right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 999;
    overflow: hidden;
    transition: 0.3s ease;
}

.btn-ig img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-ig:hover,
.btn-wsp:hover {
    transform: scale(1.1);
}

.pie {
    background: #654321;
    padding: 14px 0;
    text-align: center;
}

.derechos {
    color: #fff;
    font-size: 12px;
    font-style: italic;
}



